<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyumon.jempol">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Jempol">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ModeratorActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.coderefer.androidsplashscreenexample.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NewPostActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".Pemberitahuan" />
        <activity android:name=".akun" />
        <activity
            android:name=".SuntingProfil"
            android:label="@string/title_activity_sunting_profil"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ProfilActivity2"
            android:label="@string/title_activity_profil2"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".MyPost"
            android:label="@string/title_activity_my_post"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>
